---
import MainLayout from "../layouts/MainLayout.astro";


---

<!-- <html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		
	</body>
</html> -->


<MainLayout  title="Acceuil" description="Ma page d'Accueil">

</MainLayout>
