---
// Import components
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

// Import style
import "../styles/global.css";

const { title = "My Super App", description = "Welcome to My Super App" } =
  Astro.props;
---

<html lang="fr">
  <MainHead {title} {description} />
  <body>
    <Nav />
    <main>
		<slot>
		<p>Texte par défaut</p>
		</slot>
    </main>
    <Footer />
  </body>
</html>

<script>
  import "../js/nav.js";
</script>
